/* .ant-form-item-control-input-content {
    display: flex;
    flex-direction: column;
    
} */

:where(.css-dev-only-do-not-override-ph9edi).ant-input-affix-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    width: 474px;
    height: 50px;

    background: #FAFAFA;
    border: none;
    border-radius: 20px;
}

.ant-input-affix-wrapper .anticon.ant-input-password-icon  {
    display: none;
}

:where(.css-dev-only-do-not-override-ph9edi).ant-input-affix-wrapper >input.ant-input {
    padding: 0px 16px;
    width: 474px;
    height: 50px;
    width: 474px;
    background: #FAFAFA;
    border: 0.5px solid #BBBBBB;
    border-radius: 20px;
}
:where(.css-dev-only-do-not-override-ph9edi).ant-input-affix-wrapper >input.ant-input:hover {
    border-color: #4096ff;
}


/* password conditions code */
.greenTick {
    
}
.ant-form-item-control-input-content .password-conditions {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 0;
}

:where(.css-dev-only-do-not-override-ph9edi).ant-checkbox .ant-checkbox-inner {
    border-radius: 50%;
    border-style: none;

}

/* when all the password condtions meet */
:where(.css-dev-only-do-not-override-ph9edi).ant-checkbox-checked .ant-checkbox-inner {
    background:#09E6A7;
    
    height: 13.333333015441895px;
    width: 13.333333015441895px;
 


}
/* code for the tick icon */
:where(.css-dev-only-do-not-override-ph9edi).ant-checkbox-checked .ant-checkbox-inner:after {
    height: 7px;
    width: 5px;
}
.ant-checkbox-inner:after:hover {
    background: none;
}